body{
margin:0;
font-family:sans-serif;
background:#0e1117;
color:white;
}

.nav{
display:flex;
justify-content:space-between;
padding:20px;
background:#161b22;
}

.btn{
color:white;
text-decoration:none;
background:#2ea043;
padding:8px 16px;
border-radius:8px;
}

.hero{
text-align:center;
padding:80px 20px;
}

.hero span{
color:#3fb950;
}

.upload-btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#238636;
color:white;
border-radius:10px;
text-decoration:none;
}

.features{
display:flex;
justify-content:center;
gap:40px;
padding:40px;
flex-wrap:wrap;
}

.editor{
text-align:center;
padding:30px;
}

.editor-box{
display:flex;
justify-content:center;
gap:40px;
margin-top:30px;
flex-wrap:wrap;
}

canvas{
background:#111;
border-radius:12px;
max-width:400px;
}

.controls{
background:#161b22;
padding:20px;
border-radius:12px;
display:flex;
flex-direction:column;
gap:10px;
width:200px;
}

button{
padding:10px;
background:#238636;
border:none;
color:white;
border-radius:8px;
cursor:pointer;
}

footer{
text-align:center;
padding:20px;
margin-top:40px;
background:#238636;
}
