body {
font-family: Arial;
margin: 0;
transition: 0.3s;
}

/* DARK */
body.dark {
background: #0b1220;
color: white;
}

/* LIGHT */
body.light {
background: #f5f7fa;
color: black;
}


.nav {
display: flex;
justify-content: space-between;
padding: 15px 30px;
background: #111827;
}

.btn {
background: #2ea44f;
color: white;
padding: 8px 16px;
border-radius: 6px;
border: none;
text-decoration: none;
cursor: pointer;
}

.hero {
text-align: center;
padding: 80px 20px;
}

.green {
color: #2ea44f;
}

.upload-btn {
margin-top: 20px;
padding: 12px 30px;
background: #2ea44f;
border: none;
border-radius: 8px;
color: white;
font-size: 16px;
cursor: pointer;
}

.features {
display: flex;
justify-content: center;
gap: 30px;
margin-top: 60px;
}

footer {
background: #2ea44f;
text-align: center;
padding: 15px;
margin-top: 80px;
color: white;
}


.tool-container {
display: flex;
justify-content: center;
gap: 40px;
padding: 40px;
}

canvas {
max-width: 400px;
border-radius: 10px;
}

.controls {
display: flex;
flex-direction: column;
gap: 10px;
}
